@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

img {
  object-fit: cover;
  max-width: 100%;
}

h1,h2,h3 {
  font-family: "Press Start 2P", system-ui;
}

header {
  background-color: #5300C8;
  text-align: center;
  padding: 0.5em;
}

main {
  display: flex;
  justify-content: center;
  padding: 3em 2em;
  gap: 2em;
  margin: auto;
  max-width: 1270px;
}

.products {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;

  h1 {
    grid-column: 1 / -1;
  }

  article {
    display: flex;
    flex-direction: column;
    border: 3px solid #120a1d;
    padding: 10px;
    gap: 1em;
    border-radius: 10px;
    background-color: #5300C8;
    color: white;


    img {
      width: 100%;
      height: 250px;
      border: 3px solid black;
      border-radius: 10px;
    }

    h2 {
      font-size: 0.9em;
      font-weight: 400;
      line-height: 19.5px;
    }

    .text {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button {
      background: none;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .input-name,
    .input-price,
    .input-image {
      border-radius: 2em;
      padding: 1em;
      border: 3px solid #03318c;
      color: #03318c;
      font-family: "IBM Plex Mono", monospace;

      &::placeholder {
        font-weight: bold;
        color: #03318c;
      }
    }

    .form-buttons {
      display: flex;
      justify-content: space-between;
      gap: 1em;

      button,
      input {
        flex: 1;
        font-weight: 900;
        padding: 1em; 
        cursor: pointer; 
        border-radius: 1em;
        font-family: "IBM Plex Mono", monospace;
      }

      .btn-enviar {
        background-color: #03318c;
        color: white;
        border: none;
      }

      .input-limpiar { 
        border: 3px solid #03318c;
        color: #03318c;
        background-color: #fff;
      }
    }
  }
}

footer {
  background-color: #5300C8;
  text-align: center;
  padding: 1em;
  color: white;
  gap: 0.5em;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
  }
}

h4 {
  color: #03318c;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
}
